<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlets</display-name>
    <servlet-name>LoginServlets</servlet-name>
    <servlet-class>com.myapp.servlets.LoginServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlets</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <display-name>ecommerce_app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlets</display-name>
    <servlet-name>LogoutServlets</servlet-name>
    <servlet-class>com.myapp.servlets.LogoutServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlets</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.myapp.servlets.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDesServlets</display-name>
    <servlet-name>QuantityIncDesServlets</servlet-name>
    <servlet-class>com.myapp.servlets.QuantityIncDesServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDesServlets</servlet-name>
    <url-pattern>/quantity-inc-des</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCardServlets</display-name>
    <servlet-name>RemoveFromCardServlets</servlet-name>
    <servlet-class>com.myapp.servlets.RemoveFromCardServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCardServlets</servlet-name>
    <url-pattern>/RemoveFromCardServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCardServlet</display-name>
    <servlet-name>RemoveFromCardServlet</servlet-name>
    <servlet-class>com.myapp.servlets.RemoveFromCardServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCardServlet</servlet-name>
    <url-pattern>/remove-from-card</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlets</display-name>
    <servlet-name>OrderNowServlets</servlet-name>
    <servlet-class>com.myapp.servlets.OrderNowServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlets</servlet-name>
    <url-pattern>/order-now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlets</display-name>
    <servlet-name>CheckOutServlets</servlet-name>
    <servlet-class>com.myapp.servlets.CheckOutServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlets</servlet-name>
    <url-pattern>/cart-check-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>com.myapp.servlets.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/cancel-order</url-pattern>
  </servlet-mapping>
</web-app>